@use "mixin" as *;

// ===============================
// Typography
// ===============================
$font-family-base: var(--font-noto-sans-kr), apple-system, sans-serif;
$font-size-xsmall: rem(12);
$font-size-small: rem(14);
$font-size-medium: rem(16);
$font-size-large: rem(18);
$font-size-xlarge: rem(24);

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$line-height-base: 1.5;

// ===============================
// Breakpoint
// mobile: 0–767px | tablet: 768–1279px | pc: 1280–1920px
// ===============================
$breakpoint-mobile-max: rem(767);
$breakpoint-tablet: rem(768);
$breakpoint-tablet-max: rem(1279);
$breakpoint-pc: rem(1280);
$breakpoint-pc-max: rem(1920);

// ===============================
// Radius
// ===============================
$radius-small: rem(4);
$radius-medium: rem(8);
$radius-large: rem(16);
$radius-x-large: rem(24);
$radius-full: rem(999);
